Source: wolf3d+touch
Section: user/games
Priority: extra
Maintainer: Karin Zhao <beyondk2000@gmail.com>
Build-Depends: debhelper (>= 5), libsdl1.2-dev, libz-dev, libsdl-mixer1.2-dev, libsdl-image1.2-dev
Standards-Version: 3.7.2

Package: wolf3d+touch
Architecture: armel
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Wolfenstein 3D + TouchScreen.
 Classic FPS game ported to MeeGo Harmattan.
 Support Multi-Touch.
 Include *.wl6 data packages in /usr/share/wolf3d
 You can also put user data packages yourself in "/home/user/MyDocs" or "/home/user/", directory name is "wolf3d" or ".wolf3d". If you have nothing, you don't make these directories.
XSBC-Bugtracker: mailto:beyondk2000@gmail.com
XSBC-Maemo-Display-Name: Wolfenstein 3D + TouchScreen
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAABmJLR0QA/wD/AP+gvaeTAAAACXBI
 WXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wcMAwkTgHAjPAAAHz1JREFUeNrFm2esZdd13397n3p7
 eXXa43A4GhaJRSFpOwQYyrKiQP7gRFZcUgwbMRAEEQLIgNsnf8iHIIYFOEoc2CkIIliRLcclsZ0o
 oqhGQ5JlkqaGFMs0Tnlt3rv93HLq3jsfzj1n3rArVpIDnLlvLu49d6+1V/mv/1pb8D2+nvv8p0/X
 22tnwDwkpHUXsCWFrGpjjmPMJuABlhHCEiCNAYPRRhsFRgExcFMIuWeMWoC4YbS6IoT89nzSe+2R
 H/6Za9/L9Yq/6gNe/PJ/vc+pVH9UID+I4AeltEAIBAIEaKXQWUqWpagsQSuN1mr5qjEYDAIhBAiB
 FBLLcbFtB8txsWy7XKQAjFFgzFeMMV/O4vAP7//gj738/0wBz/7PT/PID/8055/8L6tOrfnLUsqf
 FtJaFUKiVUY8n5KEU7I4IolDsjhEG40x5DcapQzGGDKlieKEME5IswytNAaQQmDbFp5j4zo2Ulr4
 1Sp+tYZfqVOtN6k0WliWjTEGo1XfGP3paB78y/d/+B/0izX+X1HA+ad+907Hq35SSOtHpWWRhHMW
 kz6LYEiWRAiZ76Q2IIzACDBaY4xBKYM2mlEw5+UrN7iyfUB/FBBFMWmm0MYAZqkAh1rFY2Olxd13
 nuT0iXU818GxLWxLYkmBV6lSa61Qb6/hVmpopTBa/WEaL37+wQ/95NXvmQK+/dTviYc+9OPmxa/9
 0a9b0v4EUjAbHjId7JGlMULI/EGi2GXyfwQYDdpolDZopbh4fY+nvvECl67vMU0Fq/aMCjEi/xbG
 kLsCsK9apNqw0qjwwHvu4IPffz/1agXPdXAdC9u2kVIgMNiOR3P1GPXuBmiD0tm/uv+Jj/5csfa/
 kgKe/+Jnt2y3+oJl2a1gsE/Q28EYUy6UfOPQSyXkgpjyVtqQKcX1vR7/7ak/59VrO3zfZsIHt1xO
 Vua4Ui0XcWudwsBA1Zinhq8f+Hx91+Gx99/NB77vfVRcB99zcR0b27aQUiKFKNfUWj9Jc+UYSmWT
 LFk88P6/+fdv/B8r4Pknf+dv2K7/NZUl9G5cIkuiN3zZHFl6aQVL4TNtUCojjFL+4Ivf5BvnL/OB
 MzY/dmrEHfUMgeZ1sh9ZlUAZwUIJPnN9necOXf7Oh36A4+tdqr6H7zo4jo1tyeVmiNKSbNdnbes9
 WLZLlkRPvP/Df+/pt5JRvmU6+8JnH7cc72vhdMzexfNvEN4Aqlz7creVRmmNyhRppkjTlCTJOP/q
 VS5c3aPmadbqFvPUoLW+XeCj9/KZltDULcWPbB6i4zk3+yPCKCZJEtJMoZRCab18Vh5ENZAlEXsX
 zxNOx1iO97XnvvDZx99KTvv1bzzz+d8WAk5ZtvN0MLjJ6OYNhJRwdMGlmxuMye1AG5MvQOtSEXGS
 8erVHf7iO5fpDcc0azBOBNKyECJ7k61/k8vAbugSJSmD8ZQkyUicDMdJsZVACgHylvaOWuTB9Qt0
 Nreod9aefvbzv32Hge1HP/JT5m0V8OhHfso89+TvvjCfDBnsX0MIiXmd8EeVAHma0ybfVa01s0XE
 1Z1DXr26y7W9HruHQ4J5RK3iMckMf7nYQOhdTtYy6s7b+2eQCi7M68zTmGAWkqQpaWqTZQ7K0kip
 loZ8Cy0clXCwfw0hLfx664VHPvyT7XdhAZ/59TRetHrblxFSovVb7ZLOnX4Z6bUxaKV5beeQLz/z
 HV7b6RFGEbNFRBgl+XMMLCLNtCa5nrRJTcCJSkrFMhRevHSofCcNXFlU2IsdMhUSRjFZlpEqRaYU
 SissLZACtJYFUrottAkh6G1fZvPMva1nPv+ZX3/0I//w595UAV/7vX+L7TinhRCfOLh+MV+EVm9v
 njpfqtY5sBmOp/zp089xcxxx53vu4+DwkP6FV8mULjNEmGVM4owLqsFBVqGvE47JPhEufbpkxuGs
 06fGHIXgWtwFKTHGEMYJSZrlvq+WaNLSKCGQ4tZv3GalpnCHi5w4e/8nvv5H//5TWZpee+LHP357
 EHzixz+O5XifHB3skKUJxuh3vAuzLxZ04foe+/0paxvHuHT5MqdOncLz/NJZlM53dpEqhlHE5SDl
 LwOXHb3BOHO4PLV4aaz5xnSDg9imH8Pdx4+zWvHAGKI4JUkzskyhjwTAHGwdeX2TO0sTRgc7WI73
 yUL42xTw1c/9xopW2cdGvb1bgewdbq1U+XeaZdzY7zMOpiRJwtmzZ1lZWcG2LQQC15KcXq/iOxZr
 NY+TjSqOJRnHKc+MYJ4qenHKOE25Nl1waLoIYdOp+VQrDqfXqmRZRpymeabRGqVvKUEX773VWrVm
 1NtDq+xjX/3cb6y8QQG26/3SpL//rmGx0Tm01VqTKUUcp4yCOalSBEFAGIbYtl0iRc+VrDRcLClo
 ey5nuy3OdpqsVnwSrVmIKm3Xpuk4KGO4OotQSCQCrQ3vWWsghSFJ8rpBKVPufq6AJRp7h2vS38d2
 vV96QwwwxvzMZHDw7guDJewttJ+kGWGUYHSOCbTWJElym8IwghPNColSTKOMzXoVSwiU1hinwjFP
 kmnD1YkmtVqkMqBT87lrpYGPw3cO4xxam2VFuRTcCL1EATIPn2+TXSeDA+qd9Z8BfrG0gC/9zqfu
 DWeTNWPeXV6+FfwKs1NESUySZrdqAUCpW0FUSoFnCSwMvQX86eUFT16ZUnEcTrdqnFvvstGo0626
 zGKHl/uSb/TqTJOMju+xP5mTZjpX8FJwrfPMo03+vka/oxUYYwhnk7Uv/c6n7i0twLbcj457e0sI
 +05PyPGuEQat82pPaU0YpcRpmj+DW7VAoTVtDLNE4doS19K02nfz6uUbDGYB9YrLjeCATCtuTm2u
 HszY2PgwJ47v0KjVePkwYHcyRxmzLK5y/9dKoW0LrQVIjdD5+nJuwbwlupiO+6xunv4o8IqdR2f1
 wUUwvlXgvKsYkOf/TOUWMFuERHH6BtxQKGEaZvz5hQE/+L41zq3VOa5e476HJUlmI4ym5boYIXnw
 mI+5p0vbv8HDd66w2mjw9S++wLOvjajX67cgsMpjj1IKIcA2Mi/HMbyTIS+CMWpdfRD4FzZAvJj+
 kNEapHxnwY0pX4tsoZXmZn/MIoxzNmhZnUVRhOu6GPL/T2YpB5OYc2uG440qlmUxiRMsoOq4nGjX
 SJVGSEHVsUijlAvBAS/vDJlFKZ6vCKYLNroNsixDKQulMqQAhUEud1+It6/zjNbEi+kPAdh/8pu/
 shWHMzAao/Q7un8pvCGPxpkijGKu7/WYhzGtVhu5VGSapjz66KM89dRTxFGEARKl2Z+ETKIUiSBI
 E07Wq6zVatQciz/b7dFwHDzHZrJQhFmCsD1gziKMuX6zz4n1Nr5jk6QSWy7Br5EgcitACOQtWuJN
 rzic8Se/+Stbtl9vnRnevPaOhYlZwqoc9+sS/WVKceH6PtuHI+Iso7FEbYUV+L6H67rEUUS9Xsey
 bSKlUXFKpg2xFmwHM3rziGd3YJoZ6iKhW3epOS43Z3NWVldpBYpgGrDfm/DipW3+2j134FgCq1iX
 Y2GkhTR5gaSXlmCEeFMlxIuA7ubpM7ZW2UPJYo5W2TsITxnclDalD164fsgzL12jNwxQKhfcsiyy
 LKNSqVCpVPF9HyEEtVoNQ0ZmNCuuzzxTBFkFq9pCuzkBmmYp/rdfhU2fuFlldzoHu8HK2grT2YxR
 MOfVazeZLSIeuvsUp4+tYIxCKxttW1iWxLJykkQUwos3WsJS5odsrdWZNI2R0npTwc2S0SwqPrVM
 QcE84vkL27xwZY/dwzGLKF0CH8Hq6ipnz55lbW2NIAioVnN/F0KQKM0szlitaFYqDmkYYbYD3FmK
 lALrZAP7XJt61eVgHhJEKZVqhZZ2OHPXXfR6PaazGZe2e4ymIXceX+F9dx1jc6WFq6ycN7QtbCmR
 AqSUeUxYss6FItI0Rmt1xo4Xs608cuvX+foympojAU8bUqW4cP2A5y/ucH1/yHC6wCBpNBrUGw0c
 x2GxWDAajUo3cByHLEsBQZTaDOYxDc+m5bncUfeYew5ZmuFaFutVm6ZtEynFzfGC4SJDtj0ajRrV
 ap16vc58PmcwGLA/GDEK5uwejjh3xwb333WcZs3HKRQhJZbUpRLy9LgsmbUhXsy27CSOGoWAb6yi
 zLLgyXd+HiZ88ztXefHyHr3xnDBJaDRauK6LtHJ+TmvNYrGg3+8jhKBareI4DmGYa3+eenndIBJc
 K2Sj5uFay36AENgK+knE7jSmF6bM5AZb3U1msymu67K6ukqWZUwmE/r9PoeHh+z0A4bTkP3+hEfu
 2eLkehtlWzllZktsk7PNeZoUCJG7chJHdeujP/TwLybhYr009bxPg+EW2lJKMwsTvvLcRZ6/sEM/
 CKnWGlQqVTzPyzUMZfQfjyeMRiMGgwHr6+v0+33iOC5xhrQrxKbCOBHszzWHc9ibC0apQz+xOIhs
 ZqKF07yDU1t3oXVGu92m1WrRWFpZrVajXq/T7XZBCPrDMYPJjP5khm1LWnU/Z5mXJi3EkbSwxCq2
 54W2SrPNIrfr8h+D0eSYWxmSNOMbL7zGi1f2Gc4ims0Wvu/fFu3NMk4kWYZl25w4vsloNEJpU/qd
 MQbbtpf0t0WYSqIMfM/HtiVRKpGZoFqp4lWqtNodqlWfjY01skwtc7zA8zySJEFrjeM4WJZFvV7l
 5v4h24c90kyRZYp7T29itI1xDQaJJSXS5LEBI1BptmkrlfnqVusGgUEjlhDXkGnNi1f2eOHyHuN5
 TLvVwfM9giAgTdNyQZ7n4TmKrbZknjpsnTrFh957iiiZcsUoQOC6TmkxWZaVSouThExZGGM4fvw4
 vu/jui7VagXX9bAse3lbJctTqVSwLIsoiqhUKtRqNRqNFvZVm/39PZ6/uEPVd9naaC8DmQ320sql
 RApNlmW+nWWZrZUGY5bC57oo+PzD0YznL+7SG02pNdvEScx0NqVareb5NE6YTqdIYXjvps9KTbI/
 k1x57Rr3vG+NR1YMF6uK6YIySwDU63VsOy9GrWX8sCwLz8txQ6VSwXVdWq0WlmXh+z6WlSspjmO0
 1jQaDXzfJ45jLMtCa82ZM2dQWrHfO+T8pV1aNQ9TK9KghbHBMgYjBEqltm20tljukF5GfGXyejuM
 U5555QbbhyMs10dKie/7VCqVpSkb6nXIMkVFLmhXJStVn+3xGJEE/PdvbnO+XQWngufYOLYNQlKr
 5djAcRx836darS47PRIpJZVKpfT1er1eptDiqlarGGNI05Qsy3BdF8/zyrUZY3gpjNjtB1zZHfDe
 Ozex5DITAlgSKQVaG8tWWllK6byVtVRApnKU9+1LO1za7jOLEhrNarmDUkps2y7BjmUWtD0HIQTN
 istPP3oW35YMZzHP7Y54uadp+TYRkkq1Rr1eKwWv1WoIIciyDMdxSszgOE4pjC65fwjDkMFgwOrq
 KkEQMJlMAMrPb2xs4Ps+s9mMV19+iWv7Q7Y220jpY0lxi0E3Aq2VZRutcsCjzRGOz3DhRo/zl/fp
 TWZoZVjM5yRxDIDv+6yuruK6LpYlsLOEpm8xjzOuD2fMk4wPnDnGsWNV/uJGn7++VeGObofPvhLi
 eh62bZe7DDCZTJhOp2xtbZW7XRAqxS7HcYyUEsdx2NnZod/vl8+oVCqkacpsNis3pd1uU2s0GU4X
 9Eczqo5NIgWWzCGykBKtFLZSWmml7bzAyXe+N57z/MVd9gdTavUmnuchhCjNdDAYMBwOWV9fJ42n
 CB1jyypKa6JMMZxH/K8LO9zZrbM7mfHwHascb/o0/QiztOTFYoFSiiRJCIKARqNxW4wYjUYArKys
 MJ/PCcOQarVKv98nDENqtVoZCD3Po9XKM9N0Oi1jTL1eZ9Sb0Z/MObbSwMksMltjSYHKCRtla62V
 1touYG6SKp6/uMP24Rhp5Sbpui6O4+A4DsYYarUa4/EEhMA2C6QwzKKMzaZHojVBDLvjkBd3BjiO
 JAhj7lmDkw3JjUVGkiQIIZjP56UioigiDEPe+973EoYhs9mMRqPBaDSi3+/jOA7D4ZCDgwO2trao
 VnOStHChImDats3Ozk5pqUmmGAYLkjTDsSVOtrSCnM5TttY61Vp5etnD3+1NuLo/Is4M7U6rNL9K
 pUIQBLRaLTY3N3nwwYeoVat8888+T8MTzJKMzPjctdLivo0uazWfnckMY+BUu8ZKzafjzLkcx6gw
 QUhBkiT0+33a7TYPP/wwvu/z0ksvEYZhmV7X19fp9XrYts3BwQG2bROGYRkwlVJUKpWyCPM8b+lG
 edaxXY8oyUjSDN+xUfaSRhOgtU5trVSktK4XqG+7NyYIU9qdLvP5HMuyyhRj2zYPPPAAKysrzGYz
 +oM+/VFIbR26DZdplLE9mpNmiq1Onbrncma1QdV1WCQZN8cBk0mK5fplx2KxWPDEE09w8uRJkiTh
 jjvuYHt7m/l8zr333suzzz7L9vY26+vrSCk5deoU7XYb27bxfR+tNUEQsLKyUgKlPL2Ksr2WKZ2D
 o5JKl1galNKhrYy+abRZ1VoTJ4r+eE6m8gC0urpKvV5HyrzY6XQ6dLtdkiTh2rVrZFlKpgyjaUqW
 aVp1G2VsdoOQSZzS8h0OgwUNzyaIU9JqFyH79A57SJmXx8Uu7u/vl6/GGE6cOIFt2zz++ON8+tOf
 JggCtra2SjMvrmazSb1ev73lLZct82XDlmUlW5CpeVNHYIw+sLVSB0rr9ymtiZKURZQSJymVmmR1
 dZVGo8F8Pqder5cpyHEcoigiSRJq9Qa90SE11yaYZbhWiiMFcZgxjCJ2pwukt8rayXu479xddE8e
 MBqNuHLlCru7u6VJT6dTJpMJ+/v7TCYTHMfhzJkzbG5uAhBFEVmWMZ/PS6xQmH4BswtY7rou6bKB
 AmDbea1iCuGXzLLS+sBWSgUFt5ctMXRh8lEUsbe3x+rqKnEcM5/PuXnzJp1OhzRN84aH52Gkz/4w
 ZKPrE8Ya7Qg0BsuS7E80d953hvaJu2m3W3Q6XRaLBXfffTeTyYSrV68yGAwYDAYlutzY2EBrzaVL
 l7h69SqLxYKTJ0+itS5NvFar0Wq1cBynLMKK1JllGdPplMViQZZlVL0KUnCErdYoLdAqm9rGcCPv
 ny17sktQUq/XGQwGpGlKmqbM53Pm8zlpmhIEQQlOXNel2+1yeHgTe5otCVBNlmlG04y77n6QZmuF
 IJhg2xb1ep1arYZlWbTbbU6cOMFsNitze71eJ01TBoMBnueV6ezEiRPUarUyJRfQ+agFFEXdfD5n
 PB7T7/dwhabbqNwaPCnaznkv8YYNvFZ0WCRgCYHnuiiVlQGwSFmz2QzLssqOT2FuzabNnXeeZnW1
 SxSGfOlLTxHHCdKyMUiCYILj2AwGg7KQ8TyvLJHr9Tr3338/s9msxPqDwYCrV6/S7XYxxrCyslLW
 DACz2YxqtVqCKSklYRjieR7D4ZDRaESWJKy0K7Sqbo4Al+MTpogHhis28O3cJwxCGHzPXv6IKCuv
 ArCokofP864QojQz13VxXJdLFy8yX8Q5EyQMvV6PTqcDQKfT4fr162xubuL7Pp7nlYosqrqi8Fld
 XeXcuXOEYVhWgbPZDKAUOopuje0U5XHRk7QsC9+1WG1VcWyJJB8kEaUbCIxR35aZyi6bZcdFCkGz
 6oLOyt0pKq/C/4r3kiTBGIOUkmq1SqVSYXNjo8zhBS0+HA7p9/skScJsNkMpxZUrV+j1egyHQ9I0
 RUpJvV4vawLbtkmShPl8XhZMUkq63W6J8wvgU8QipRS+75fBcjIe41qCbt1bcoNH2eGc8DFGXLa+
 +vzV6ePvO/UrxhihllT3/nCGEjau6zIej6lWqyilSh87igi73S6bm5ucPn2aMAx55ZVXCMPwFv0c
 x0RRVJa5Qgim0ym9Xq9UUiF4lmUsFosSBM1mM5IkKS2laLRUKhWm02mJULXWeUkuJaPRiKeffprR
 sM9qs8LxlQaea+HZFo4tsa2SLdb//Lef/gU775Sop4zmwxjDSsNntVXhtZsBlpUTF4WWj+5spVIh
 DENarRZCCC5cuMCVK1fK6qwcItGa4XDIa6+9RhRFtFqt0v8vXbp0W5BzXbf04ziOCcMQ13VZLBZY
 lsV4PKZWq1Gr1crPuq5bfnY2m7G3t8dwOMSSgqrvYMnlBNGRGUaMxhj5VNkcNYavGMyHwWBbkrPH
 2gTzmPFiUZajctnwKEBGHMe022201gwGA1566SUmk8kbyNVCCb1ejyAI2NzcZG1tjVYrh9nD4ZD5
 fE6SJNTrdRqNBkII9vb2iJbNFM/zmE6nzOfz0hKMMSX0LX43CAIuXbpEkiT4tqTiWjlXueyV5h2k
 pf8L85WcIgEeu+/4AYZ/ZpYMcMXNg85kGjIPY7ShzLcFB+c4DuPxmMPDwxK8vF173RhT5uejELt4
 r1BUo9EgCILSxJVSLBYLJpPJcu4wrx6DIMBxHLa3t1ksFiRJwu7uLjdu3MhdzWQc79SoV1wcR+La
 Esu6VQ5j+Kdff3l3WMaFn//YI/tam02lNUmWV4Xb/Smv7U+YLBKirJgMzPN8o9kiCAKSOC5bZe96
 QHnp451Oh0qlguM4DAYDWq0W3W53ye81ymxz9HtHc74QolTKYrFgZ2eHnZ0dGo0Glo544I4VunWP
 qu/guxZu0TkS4uav/cGzx143IaL+M4hfzic0DbYUnFip0al79IOQ/iRiFiXEqSJOYRGMUGm2HEL6
 7mb0i7R3cHBQskBJkjAej5lMJjSbTTqdzi0aXUo2NzdLqEs5kKlKImQ+n5dlcxxHtH2B58jbJ8eW
 5K/G/Oc3zglq86sG88v5HgssaXAQVF2LY50qa80KaaaIU8U8zhgEIYMgZrKICZMM9V0qoRCmYH0K
 ocbjMdPptIz+1WoVKSXb29tYllUqJooihsMh0+kUx3E4ODgoCVKhEtq1Wln3C3MLAhsNRvCrbzos
 /Ym//eDvGsNPmLIbVEx76+XfejkAnf99OAl57SCgH0SkmXrXllAwvlJKZrNZacpCCFqt3LUK8rNS
 qZQdp8IapJQsFgvCMCzHcJrNBs1mi8ODA2qO4d6tLt26T9Wz8V0Lz5b5dLkQn/vUH5//yWItZUf0
 Ez/yIMaYbxljfi4/xJIDhmIUV8j8NIcUAkvk5GLVs4lSxXSRkGTfnQkU9FoBXooM0+l0SJKktIwo
 ikphwzBksVgwn89vQ4Gbm5s89ND7UUoxHg1o1RyOdWq4tsSxBbYl8qZIPhT1wz9wz2bwrQsHtyvg
 zy8c8K2LB8H3n1uvA49xtK0sCuHzIZJCGULk6LoXRETpu7cArTVZliGlLIUvfNvzPNbW1sqq7ujZ
 g6OfazabHDt2jHPnzvHYY4/Rbre5dOkS8+mYY+0KzZq7nEeSOGW7nE/+m//xnd8vhH/LOZKPf+S+
 gcB0l/NQefRfdnFMHkRK6ny6SHnmSp+bowVKm+86Drx+9KZWq5VkSAHCjo7bFe5z/PhxOp0OJ06c
 oFKp8PLLL/OVL38ZyyTce7JNt+ZR8S18x8ZzJLaUw9/6wisr7zgs/fGP3AeIBw1m+9bQiCkPRABI
 A5bIp1J811pGW/GmUyaVSqXc5aONjSiK3gCaCoA1m81otVo0m82S6yuwh23bVKtV1tbWsCyL2WzG
 zZs3OX/+PGG4oFtzcfIDeeUAfb5pPPhP/tY9/NYXXr3tN98wFfHM5R7PXO4Fj9y18qTW+meXNlt2
 jst6ejk/IIDxPGaySMleJ1CRvoouTrHDRZ2vlCqDWmENRUWXZVnZRywqxKIUzrKM0WjEbDYjXY7m
 9ft9gmBCxZWst3x828Iu/B/x2H986sLLz17pv2GDrLc8IndlsPPwme6TxpifNW8Yk6Fsoxdkan8a
 Eyf6NhvodDq0Wi2iKMK2bRzHodPpsLa2Rr1ep1Kp4Pt+yQ16nofWmna7TbvdLjNAkS6jKCqLqzRN
 8TyPU6dO0Ww2cRybvb09XMuw3vRxHYEtBRIe+/TXrnzzXZ8YOXr9uy9e+uY//tDZU8aY80D31kGp
 o8fDNJ26S7fuESaKKFFoDL7n0+l0yp3u9Xol+bGyslIWObPZ7NY43ZL4KNpmlmWVVWjx3YIUKdik
 gp6L4zjnCaIxQhgwZmi0efAz37i683YyyneB2nb+w5eurBhjPlnwAmU0LgYNpOD0WoVuzcW1Bb7r
 sbGxQbPZLMvnTqfD8ePHWV1dxV8yQq1Wi/X1DdbX11lbW2N9fZ2NjQ2q1WpZ4hbtrqJrZFkWrpuX
 1lqrMr5Uq1U2jx2n4trYUnzyj5/dXUmV3vmeHpz8Rx84fUoI8WvGmJ8ohh+LdlqmDIfTmGuHC3rT
 BISFkBJD3ufDaKS0cmJi6fPGHGVozK0jL69LeUKAlFY5AFkQM9LKsX0+UZ6RpOnnGiL+hZ1Juv1u
 ZbK+GwW8/3Q7+E9fvfb7D241/3UeCsx70KZeTJB5jqRddaj7FrYER2ocoXEt8CyBYxkcobFRt98i
 p8/yW+NIgysNrkV+S/LvCZXfKCyRYZsMqeIDk8W/4Uv1I4fjxWdSI4NM6Xefiv+qh6d/6vFT57Q2
 H9Pa/GCmzYcypUWmKa0iW3adiyEU3t1ZsbfADXky0oanjDZf0cb8wbeujC7+fz09/vrr7z6yeSIz
 nFXGPKC1OasNp4wxTQMbwAYGH3CWAbiwQAVkQApEBg4wHAABsA3msjG8IASXn/xOf/d7ud7/DW2H
 JJrYlfnNAAAAAElFTkSuQmCC
